<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="SQLConnection" 
         connectionString="data source=DESKTOP-F4DEC2L\SQLEXPRESS;initial catalog=amigos;
                          integrated security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>